<div class="bgImage">
  <app-header [pageName] = "pageName" ></app-header>
</div>
  <div class="jumbotron load profile px-md-1 px-lg-4 px-xl-5 px-0">
    <div class="container-fluid loadDelayed px-md-2 px-lg-5 px-0" style="width:100%;">
      <h2 class="text-dark">Class Details</h2><br>
      <div *ngIf="!edit" class="card shadow">
      <div class="row m-0 m-md-5" style="width:100%;">
        <div class="col-md-5 col-11 mx-auto">
          <div class="card-img-bottom">
            <h5 class="sub-title mt-5 mt-md-0 text-secondary">Students Enrolled</h5>            
            <ul style="overflow:hidden; overflow-y:scroll; height: 300px;" class="list-group list-group-flush list-hover" >
              <li *ngFor="let student of service.selectedClass.studentList" class="list-group-item list-group-item-action ">{{student.lName}} , {{student.fName}}</li>
            </ul>    
          </div>
        </div>
        <div class="col-md-5 col-11 my-5 my-md-0 mx-auto">
          <div class="card-block">
            <h5 class="sub-title text-secondary">General Information</h5>
            <ul class="list-group list-group-flush list-hover">
              <li class="list-group-item list-group-item-action "><span class="text-secondary">Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="text-primary"> {{service.selectedClass.name}}</span></li>
              <li class="list-group-item list-group-item-action"><span class="text-secondary">Dates &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="text-primary">{{service.selectedClass.date[0].day}}/{{service.selectedClass.date[0].month}}/{{service.selectedClass.date[0].year}} <span class="text-secondary">  @  </span>{{service.selectedClass.time[0].hour}}:{{service.selectedClass.time[0].minute}} <span class="badge text-info bg-dark cursor"  > {{service.selectedClass.date.length-1}}+ </span> </span>
            </li>
              <li class="list-group-item list-group-item-action"><span class="text-secondary">Address</span><span class="text-primary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{service.selectedClass.time.hour}}</span></li>
              <li class="list-group-item list-group-item-action"><span class="text-secondary">Instructor &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="text-primary">{{service.selectedClass.instructor}}</span></li>
              <li class="list-group-item list-group-item-action"><span class="text-secondary">Max Student &nbsp;&nbsp;&nbsp;</span><span class="text-primary">{{service.selectedClass.maxStudent}}</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-footer bg-light btn-group ">
        <button type="button" (click)="edit = !edit" class="btn btn-warning col-5 btn-default ml-auto mr-auto">Edit</button>
        <button type="button" (click)="deleteClass()" class="btn btn-danger col-5 btn-default ml-auto mr-auto">Delete</button>
      </div>
    </div>

    <div *ngIf="edit" class="card shadow">
      <div class="row m-0 m-md-5">
          <div class="col-md-5 col-11 mx-auto">
            <div class="card-img-bottom">
              <h5 class="sub-title mt-5 mt-md-0  text-secondary">Students Enrolled</h5>
              <div>
                <select [(ngModel)]="selectedStudent"  class="custom-select" size="13">
                  <option *ngFor="let student of service.selectedClass.studentList" [ngValue]="student" >{{student.lName}}, {{student.fName}} </option>
                </select>
                <ng-template #rt let-r="result" let-t="term">
                    <img [src]="r.img" class="cursor mr-1" style="width: 20%;">
                    <ngb-highlight [result]="' ' + r.lName + ', ' + r.fName" [term]="t"></ngb-highlight>
                  </ng-template>
                  <div [hidden]="!showAvailableStudents" class="mt-5 form-inline">
                    <label class="font-weight-bold text-info" for="search">Search for the student : &nbsp;&nbsp;</label>
                    <input id="search" type="text" class="form-control" [(ngModel)]="studentToAdd" value="{{ studentToAdd && studentToAdd.lName && studentToAdd.fName ? (studentToAdd.lName + ',' + studentToAdd.fName) : ''}}" placeholder="start typing first or last name" [ngbTypeahead]="search" [resultTemplate]="rt"
                      [inputFormatter]="formatter" />
                  </div>
                <br><br>  
                <button class="btn btn-success" [disabled]="showAvailableStudents && (!studentToAdd || !studentToAdd.lName || !studentToAdd.fName)" (click)="addStudent()" >{{!showAvailableStudents ? 'add student' : 'add'}}</button> &nbsp;&nbsp;&nbsp;
                <button class="btn btn-danger my-5 my-md-0" [disabled]="!selectedStudent && !showAvailableStudents" (click)="removeStudent()"><span>{{!showAvailableStudents ? 'remove student' : 'cancel'}}</span> </button>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-11 mx-auto">
            <div class="card-block">
              <div *ngIf="changeDate" class="flex">
                <div><h5 class="text-secondary" >Please select a date &nbsp; </h5></div>  
                <div class="mt-3">
                  <ngb-datepicker #dp (select)="toggleDate($event)" [dayTemplate]="t" outsideDays="hidden">
                  </ngb-datepicker>
                  <ng-template #t let-date let-focused="focused">
                    <span class="custom-day"
                      [class.focused]="isDateSelected(date)"
                      [class.faded] = "isDateSelected(date)">
                      {{ date.day }}
                    </span>
                  </ng-template>
                </div>
                <div class="mt-3 mleft"><button class="ml-3 btn-default col-8 btn btn-success " type="button" (click)="askTime()">Save &amp; choose time </button></div>
              </div>
              <div class="flex" *ngIf="changeTime">
                <label class="text-info" for="time">Please select new class time for the class on <span class="badge bg-secondary text-warning">{{service.selectedClass.date[this.tempTimeArray.length].day}}/{{service.selectedClass.date[tempTimeArray.length].month}}/{{service.selectedClass.date[tempTimeArray.length].year}}</span>  &nbsp; </label>    
                <ngb-timepicker name="time" [(ngModel)]="service.selectedClass.time[tempTimeArray.length]"></ngb-timepicker> <br>
                <button class="ml-3 btn btn-outline-success " type="button" (click)="selectTime()">Select Time</button>    
              </div>
              <form [formGroup] = "fg">
                <div *ngIf="!changeDate && !changeTime" class="form-group row">
                  <h5 class="sub-title text-secondary">General Information</h5>              
                  <input type="input" formControlName="name" placeholder="name" required class="form-control m-2 ">
                  <input type="input" formControlName="instructor" placeholder="instructor" required class="form-control m-2 ">
                  <input type="input" formControlName="maxStudent" placeholder="max Student" required class="form-control m-2 ">
                  <textarea name="additionaInfo" cols="30" rows="5" formControlName="additionaInfo" placeholder="aditional info" class="form-control m-2 "></textarea>                 
                  <h6 class="text-info cursor" (click)="changeDate = true"><u>change date and time</u></h6>                              
                </div>
              </form> 
              <div *ngIf="error" class="alert alert-danger" role="alert">{{error}}</div>              
            </div>
          </div>
        </div>
        <div class="card-footer btn-group">
          <button type="submit" (click)="onSubmit(fg.value)" [disabled]="!fg.valid || changeDate || changeTime" class="btn ml-auto mr-auto btn-default btn-success col-4 ">Save</button>
          <button type="button" (click)="edit = !edit" class="btn btn-default btn-danger ml-auto mr-auto col-4 ">Cancel</button>
        </div>
      </div>
</div>
<div class="spinner">
  <mat-spinner></mat-spinner>
</div>