<nav class="navbar navbar-expand-md navbar-dark">
    <button class="navbar-toggler" type="button"  data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"  (click)="toggleNav()"></span>
    </button>
    <a class="navbar-brand d-none d-md-block {{logo ? 'hidden' : ''}}" routerLink="#">
        <img src="../../assets/images/logo.png" alt="logo" width="100px"/>
    </a>
    <div *ngIf="service.isAuthenticated()" (click)="toggleProfileSmButton()" class="login d-inline-block d-md-none dropdown">
        <img src="../../assets/images/login.png" width="60px" class="rounded-circle cursor" id="dropdownBasic1" >
        <span *ngIf="newNotifications > 0" class="badge badge-success" style="z-index:1 !important; margin-right: 50px;">{{newNotifications}}</span>
        <div id="dropdown" class="load  dropdown" style="position: absolute;left: -30px;">
            <button (click)="service.showLoggedUserProfile()" class="dropdown-item cursor text-white"> <h5>Profile</h5> </button>
            <a class="dropdown-item cursor text-white" routerLink="/notifications"><h5>Notifications
            <span *ngIf="newNotifications > 0" class="badge badge-success" style="z-index:1 !important; margin-right: 50px;">{{newNotifications}}</span>
            </h5> </a>
            <button class="dropdown-item cursor text-white" (click)="showSchedule()"><h5>Schedule</h5> </button>
            <button id="LogOut" (click)="service.logOut()" class="dropdown-item text-danger cursor"><h5>Log out</h5> </button>
        </div>
    </div>
    <button id="logIn" *ngIf="!service.isAuthenticated()" class="mr-5 d-inline-block d-md-none ml-auto btn btn-outline-primary my-2 my-sm-0"  (click)="service.getLogInData()" type="button">
        Log In
    </button>     
    <div class="collapse navbar-nav navbar-collapse" id="collapsibleNavbar">
        <a class="nav-item text-white nav-link text-white " id="home" routerLink="#"> <h5>Home</h5></a>
        <a class="nav-item text-white nav-link text-white " id="contact" routerLink="/contact"><h5>Contact Us</h5> </a>
        <a class="nav-item text-white nav-link text-white" id="gallery" routerLink="/gallery"><h5>Gallery</h5> </a>
        <!-- <h5 class="navbar-text text-white d-none mr-auto ml-auto d-xl-block">WELCOME TO {{ pageName | uppercase }} PAGE</h5> -->
    </div>  
    <div *ngIf="service.isAuthenticated()" (click)="toggleProfileLgButton()" class="d-none login d-md-inline-block dropdown">
        <img src="../../assets/images/login.png" width="60px" class="rounded-circle cursor" id="dropdownBasic1">
        <span *ngIf="newNotifications > 0" class="badge badge-success" style="z-index:1 !important; margin-right: 50px;">{{newNotifications}}</span>
        <div id="dropdown-lg" class="load dropdown" style="position:absolute;">
            <button (click)="service.showLoggedUserProfile()" class="dropdown-item cursor text-white"> <h5>Profile</h5> </button>
            <a class="dropdown-item cursor text-white" routerLink="/notifications"><h5>Notifications
            <span *ngIf="newNotifications > 0" class="badge badge-success" style="z-index:1 !important; margin-right: 50px;">{{newNotifications}}</span>
            </h5> </a>
            <button class="dropdown-item cursor text-white" (click)="showSchedule()"><h5>Schedule</h5> </button>
            <a *ngIf="service.isAdmin()" class="dropdown-item text-white" id="students" routerLink="/students"> <h5>Student list</h5></a>
            <button id="LogOut" (click)="service.logOut()" class="dropdown-item text-danger cursor"><h5>Log out</h5> </button>
        </div>
    </div>
    <button id="logIn" *ngIf="!service.isAuthenticated()" class="mr-5 d-none d-md-inline-block ml-auto btn btn-outline-primary my-2 my-sm-0"  (click)="service.getLogInData()" type="button">
        Log In
    </button>
</nav>
      