.cursor{
    cursor: pointer;
}

.nav-item::after{
    content:'';
    display:block;
    width:0px;
    height:2px;
    background:#b3ebf9;
    transition: 0.4s;
}

.login{
    margin-right: 10vw;
}

.transparent{
    background: transparent !important;
}

.nav-item:hover::after{
    width:100%;
}

.nav-link:hover, .navbar-nav .active{
    color:#b3ebf9 !important;
}

img{
    transition: 0.2s;
}

.dropdown-item:focus, .dropdown-item:hover{
    background-color: transparent !important;
    color: #b3ebf9 !important;
}

.load{
    opacity: 0;
    -webkit-animation: fadein 0.7s  ease-in-out; 
       -moz-animation: fadein 0.7s  ease-in-out; 
        -ms-animation: fadein 0.7s  ease-in-out; 
         -o-animation: fadein 0.7s  ease-in-out; 
            animation: fadein 0.7s  ease-in-out;
            animation-fill-mode: forwards;
}

.loadDelayed{
    opacity: 0;
    -webkit-animation: fadein 1s 500ms ease-in-out; 
       -moz-animation: fadein 1s 500ms ease-in-out; 
        -ms-animation: fadein 1s 500ms ease-in-out; 
         -o-animation: fadein 1s 500ms ease-in-out; 
            animation: fadein 1s 500ms ease-in-out;
            animation-fill-mode: forwards;
}



@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
