.footerContainer{
    width: 99% !important;
}

span{
    width: 100%;
}

.icon{
    font-size: 30px;
    color: white;
    border: 1px solid white;
    padding: 0 10px;
    border-radius: 50%;
    transition: all .2s ease-in-out;;
}

.icon:hover{
    border-color: peru;
    transform-style: preserve-3d;
    transform: scale(1.2);
    transition: all .2s ease-in-out;
}