<div class="py-5" style="background-color: #2b2b2b;">
  <div class="socialIcons d-flex mx-auto">
   <a href="https://www.facebook.com/RPD0450RPD/" target="_blank" class="mx-3 cursor icon ml-auto"><i class="fa fa-facebook-official"></i></a> 
   <a href="" target="_blank" class="mx-3 cursor icon"><i class="fa fa-instagram"></i></a> 
   <a href="https://www.youtube.com/channel/UCBKF4_6-dYlUZdq4rPQjGlw" target="_blank" class="mx-3 cursor icon mr-auto"><i class="fa fa-youtube"></i></a> 
  </div>
  <hr class="mt-3 w-50">
  <span class="mt-3 d-inline-block mx-auto text-white text-center">&copy;copyright. All rights reserved.</span>
</div>