<div class="bgImage">
  <app-header [pageName] = "pageName" ></app-header>
  <div class="textAnimation animation">
    <span class="text-Silver bigFont">A</span>
    <span class="text-Silver bigFont">s</span>
    <span class="text-Silver bigFont">k</span>
    <span class="text-Silver bigFont">&nbsp;</span>
    <span class="text-Silver bigFont">Q</span>
    <span class="text-Silver bigFont">u</span>
    <span class="text-Silver bigFont">e</span>
    <span class="text-Silver bigFont">s</span>
    <span class="text-Silver bigFont">t</span>
    <span class="text-Silver bigFont">i</span>
    <span class="text-Silver bigFont">o</span>
    <span class="text-Silver bigFont">n</span>
    <span class="text-Silver bigFont">s</span>
    <span class="text-Silver bigFont">.</span>
    <span class="text-info bigFont">G</span>
    <span class="text-info bigFont">e</span>
    <span class="text-info bigFont">t</span>
    <span class="text-info bigFont">&nbsp;</span>
    <span class="text-info bigFont">A</span>
    <span class="text-info bigFont">n</span>
    <span class="text-info bigFont">s</span>
    <span class="text-info bigFont">w</span>
    <span class="text-info bigFont">e</span>
    <span class="text-info bigFont">r</span>
    <span class="text-info bigFont">s</span>
    <span class="text-info bigFont">.</span>
    <img  id='smiley' src="../../assets/images/smiley.png" alt="smily" width="40px">
  </div> 

</div>
<div class="profile row my-5 mx-auto mx-md-0">
  <div class="col-md-5 ml-sm-5">
    <ul class=" ml-md-5 col-10 list-group list-group-flush">
      <li class="list-group-item border-0">
        <h4 class="text-dark">Reach us</h4>
      </li> 
      <li style="overflow:hidden;" class="list-group-item border-0">
        <p class="ulAnimation cursor">
          <img src="../../assets/images/phone.png" class="ml-3" width="25px" alt=""><a href="tel:7782310152" class="ml-3 text-info">778-231-0152</a>
        </p>
      </li>
      <li class="list-group-item border-0 ">
        <div class="ulAnimation cursor">
          <img src="../../assets/images/email.png" class="ml-3" width="25px" alt=""><a href="mailto:someone@yoursite.com" class="ml-3 text-info">devinder@gmail.com</a>
        </div>
      </li>
      <li class="list-group-item border-0">
        <div class="ulAnimation cursor">
          <img src="../../assets/images/location.png" class="ml-3" width="25px" alt=""><span class="ml-3 sans-serif d-inline-block text-justify text-info">10527 138st, Surrey, BC, V3T4K6</span>
          </div>
      </li>
    </ul>
  </div>
  <div class="col-11 col-md-6">
    <h4 class="text-dark ">Send us an request</h4>
    <form [formGroup]="fg" (ngSubmit) = "onSubmit(fg.value)">
      <div class="row mx-auto mx-md-1">
        <mat-form-field class="m-2 col-11 col-sm-5">
          <mat-select name="reason" placeholder="reason" required formControlName="reason">
            <mat-option value="gidha">Gidha</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="m-2 col-11 col-sm-5">
          <input type="input" matInput name="fName" placeholder="First Name" required formControlName="fName">
        </mat-form-field>
        <mat-form-field class="m-2 col-11 col-sm-5">
          <input type="input" matInput name="lName" placeholder="Last Name" required formControlName="lName">
        </mat-form-field>
        <mat-form-field class="m-2 col-11 col-sm-5">
          <input type="number" matInput name="age" placeholder="Age" required formControlName="age">
        </mat-form-field>
        <mat-form-field class="m-2 col-11 col-sm-5">
          <input type="input" matInput name="phone" placeholder="Phone No." required formControlName="phone">
        </mat-form-field>
        <mat-form-field class="m-2 col-11 col-sm-5">
          <input type="email" matInput name="email" placeholder="Email" required formControlName="email">
        </mat-form-field>
        <mat-form-field class="m-2 col-11 col-sm-5">
          <input type="number" matInput name="suite" placeholder="House No." required formControlName="suite">
        </mat-form-field>
        <mat-form-field class="m-2 col-11 col-sm-5">
          <input type="input" matInput name="street" placeholder="Street" required formControlName="street">
        </mat-form-field>
        <mat-form-field class="m-2 col-11 col-sm-5">
          <input type="input" matInput name="city" placeholder="City" required formControlName="city">
        </mat-form-field>
        <mat-form-field class="m-2 col-11 col-sm-5">
          <input type="input" matInput name="province" placeholder="Province" required formControlName="province">
        </mat-form-field>
        <mat-form-field class="m-2 col-11 col-sm-5">
          <input type="input" matInput name="postal" placeholder="Postal Code" required formControlName="postal">        
        </mat-form-field>
        <mat-form-field class="m-2 col-11 col-sm-5">
          <input type="input" matInput name="postal" placeholder="Postal Code" required formControlName="postal">        
        </mat-form-field>
        <mat-form-field class="m-2 col-11 col-sm-10">
          <textarea matInput name="details" cols="30" placeholder="details" required formControlName="details" rows="5"></textarea>
        </mat-form-field>
        <button [disabled]="!fg.valid" class="mt-3 col-md-10 col-11 btn btn-success">{{ loading ? 'sending...' : 'send' }}</button>              
      </div>
    </form>
  </div>
  </div>
<div class="spinner">
    <mat-spinner></mat-spinner>
</div>
<app-footer></app-footer>
