.textAnimation span{
    display: inline-block;
    position: absolute;
    left: 100vw;
    top: -100vh;
    opacity: 0;
}

.textAnimation img{
    position: absolute;
    left: 56%;
    top: 48vh;
    display: none;
}

.bgImage{
    background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../assets/images/contact.jpg');
    background-position: center;
    background-repeat: no-repeat;



    background-size:100% 100%;
    overflow-x: hidden;
    height: 100vh;
}

.loadAnimation{
    position: absolute;
    top: -500px ;
    left: 75%;
}

a{
    text-decoration: none !important;
}

@media screen and (min-width: 766px){
    .w-75{
        min-width: auto !important;
    }
}

@media screen and (max-width: 500px){
    #smiley{
        width: 20px !important;
    }
}

