<div class="bgImage m-1">
    <app-header [pageName] = "pageName" ></app-header>
    <div class="display-2 animation mt-5 text-Silver">Gallery</div>
</div>
<div class="detail">
    <ngb-tabset *ngIf="!carousel">
        <ngb-tab>
            <ng-template ngbTabTitle><b>Pictures</b></ng-template>
            <ng-template ngbTabContent>
                <button *ngIf="service.isAdmin()" class="btn m-2 btn-success text-light" (click)="getImage()" type="button">new picture
                    <span class="badge badge-light">&#43;</span>
                </button>
                <div class="row p-5 mb-5 load mx-auto"> 
                    <div class="col-sm-5 col-12 col-lg-3 col-md-4 mx-sm-0 mx-auto mb-2 p-0 pl-2" *ngFor="let image of this.service.images;let i = index">
                        <img [src]="image.data" class="card-img-top img-animation cursor " (click)="showImage(i)">
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle ><b>Videos</b></ng-template>
            <ng-template ngbTabContent>
                <div class="d-block load">
                    <button *ngIf="service.isAdmin()" class="btn m-2 btn-success text-light" (click)="getVideoLink()" type="button">new video
                        <span class="badge badge-light">&#43;</span>
                    </button>      
                    <div class="row p-5 mb-5 mx-auto">
                        <div class="col-sm-4 col-8 col-lg-3 col-md-3 mx-md-0 mx-auto mb-5" *ngFor="let video of this.service.videos">
                            <iframe class="card-img-top card-animation" [src]="video.data | safe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <button *ngIf="service.isAdmin()" (click)="service.deleteVideo(video)" class="btn btn-outline-danger">Delete Video</button>            
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
    <div id="imgModel" class="modal">
        <span class="close text-danger">&times;</span>
        <span class="cursor d-block prev font-weight-bold text-info border-0 bg-transparent rounded-circle" (click)="prevImg()">&#8249;</span>
        <img class="modal-content rounded" id="modelImg">
        <span class="next d-block cursor font-weight-bold text-info border-0 bg-transparent rounded-circle" (click)="nextImg()">&#8250;</span>
        <div id="caption"></div>
    </div>
</div> 
<div class="spinner">
    <mat-spinner></mat-spinner>
</div>
<app-footer></app-footer>