@media screen and (max-width:400px){
    .card-img-top {
        min-height: 25vh !important;
        height: 50vh !important;
        display: block;
        margin-bottom: 10px;
        margin-right: 100px !important;
    }
}

@media screen and (min-width:450px) and (max-width:575px){
    .card-img-top {
        min-height: 25vh !important;
        height: 40vh !important;
        max-width: 50vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-right: 100px !important;
    }
}

.img-animation:hover{
    transform: scale(0.9);
    transition: all 0.3s ease-in-out;
}

.bgImage{
    background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../assets/images/gallery.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    overflow-x: hidden;
    height: 98vh;
    background-attachment: fixed;
}

.card-img-top {
    min-height: 25vh;
    height: 40vh;
}


.detail{
    padding-top: 150px;
}

.card-animation:hover {
    transition: 0.3s;
    border-color: #F1EA7F !important;
    box-shadow: 10px 10px 10px 10px grey !important;
}
  
.shadow:hover{
    box-shadow: 10px 10px 10px 10px grey !important;
}

.card-animation button{
    visibility: hidden;
}

.card-animation:hover button{
    visibility: visible;
}

.animation{
    display: none;
}
