.mleft{
  margin-left: 35%;
}

.card-animation:hover {
  transition: 0.3s;
  border-color: #F1EA7F !important;
  cursor: pointer;
  box-shadow: 10px 10px 10px 10px grey !important;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
  
.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day:hover {
  background-color: rgba(2, 117, 216, 0.5);  
}
  
.custom-day.faded {
  background-color: rgb(2, 117, 216);
  color: white;
} 

.cursor{
  cursor: pointer;
}

.bgImage{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('../../assets/images/schedule.jpg');
  background-position: center;
  background-repeat: no-repeat;



  background-size:100% 100%;
  overflow-x: hidden;
}