<div class="bgImage">
  <app-header [pageName] = "pageName" ></app-header>
</div>
<div class="jumbotron load profile">
  <div *ngIf="!askDayToSchedule && !showClasses" class="row">
    <button *ngIf="service.isAdmin()" class="btn m-2 mb-5 btn-warning text-light" (click)="toggleShowClasses()" type="button">show all Classes</button>
    <div class="display-2 col-11">Schedule</div>
    <div class="m-5 col-md-5 col-11">
      <ngb-datepicker #dp (select)="showDateInfo($event)" [dayTemplate]="t" outsideDays="hidden">
      </ngb-datepicker>
      <ng-template #t let-date let-focused="focused">
        <span class="custom-day"
          [class.faded] = "isClassScheduled(date)"
          [class.bg-dark] = "hasClassPassed(date)"> 
          {{ date.day }}
        </span>
      </ng-template>  
    </div>
    <div *ngIf="scheduledClasses.length > 0" class="loadDelayed  col-md-5 col-11">
      <h4 class="text-dark mt-md-5 mt-0">
        Scheduled Classes
      </h4>
      <div class="d-flex container ml-3">
        <div class="mb-5" style="width:15vw; min-width:150px;" *ngFor="let class of scheduledClasses">
          <div class="card card-animation border " (click)="selectClass(class)">
            <div class="card-body bg-dark">
              <h5 class="text-light card-title">{{class.name}}</h5>
              <div class=" text-warning card-subtitle"> {{class.instructor}} <br> <span class="text-white">{{class.studentList.length}} <span class="text-info"> / </span>{{class.maxStudent}}</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div *ngIf="askDayToSchedule">
      <form>
        <div class="flex load">
            <div class="mleft"><h5 class="text-secondary" >Please select a date &nbsp; </h5></div>  
            <div class="mleft mt-3">
            <ngb-datepicker #dp (select)="addDate($event)" [dayTemplate]="t" outsideDays="hidden">
            </ngb-datepicker>
            <ng-template #t let-date let-focused="focused">
              <span class="custom-day"
                [class.focused]="isDateSelected(date)"
                [class.faded] = "isDateSelected(date)">
                {{ date.day }}
              </span>
            </ng-template></div>
          </div> 
        <div class="mt-3 mleft load"><button class="ml-2 btn-default col-3 btn btn-success " type="button" (click)="selectDate()">Go</button></div> 
      </form>
    </div>
    <div *ngIf="showClasses" class="loadDelayed">
      <div class="display-2 mb-3">
        Classes
      </div>
      <button class="btn m-2 mb-5 btn-success text-light" *ngIf="service.isAdmin()" (click)="createClass()" type="button">new class
          <span class="badge badge-light">&#43;</span>
      </button>
      <div class="row container ml-3">
        <div class="col-sm-4 col-8 col-lg-2 col-md-3 mb-5" *ngFor="let class of this.service.classes">
          <div class="card card-animation border " (click)="selectClass(class)">
            <div class="card-body bg-dark">
              <h5 class="text-light card-title">{{class.name}}</h5>
              <div class=" text-warning card-subtitle"> {{class.instructor}} <br> <span class="text-white">{{class.studentList.length}} <span class="text-info"> / </span>{{class.maxStudent}}</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mleft load" *ngIf="askTime" >
      <label class="text-info" for="time">Please select class time for the new class on <span class="badge bg-secondary text-warning">{{date[time.length].day}}/{{date[time.length].month}}/{{date[time.length].year}}</span>  &nbsp; </label>    
      <ngb-timepicker name="time" [(ngModel)]="timeModal"></ngb-timepicker> <br>
      <button class="col-2 btn btn-success " type="button" (click)="selectTime()">Go</button>    
    </div>
    <br>
    <div *ngIf="error" class="alert alert-danger load" role="alert">{{error}}</div>
</div>
<div class="spinner">
  <mat-spinner></mat-spinner>
</div>