.bg-pipi{
    background-color: #F5E6C4;
}


fieldset {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}
.row .card{
    min-height: 300px !important;
}

.shadow-animation:hover h5{
    box-shadow: 3px 3px 3px 3px grey !important;
    transition: 0.5s;
    background-color: #b3ebf9;
}

.data > *:first-child{
    margin-top : 35px;
    opacity: 0;
}