<div class="details jumbotron">
    <h1 class="d-none d-sm-block d-md-none mb-1">Classes We Offer</h1>
    <div class="display-3 d-none d-md-block mb-1">Classes We Offer</div>
    <h2 class="d-block d-sm-none mb-1">Classes We Offer</h2>
    <div class="bhangra m-0 border-0 mb-md-5 mt-md-2">
      <h1 class="text-white d-none d-md-block mx-4 m-md-5 mt-5">Bhangra</h1>
      <h3 class="text-white d-block d-md-none mx-4 m-md-5 mt-5">Bhangra</h3>
      <p class="text-justify mx-4 m-md-5 text-white">
        Bhangra is more than the exploring of different ways to make a shape or learning a series of steps to music; 
        it is a way of moving that uses the body as an instrument of expression and communication. 
      </p>
    </div>
  </div>
    <!-- <div class="card m-0 border-0 m-md-5">
      <div class="border-0 mx-auto mt-5 mt-md-0"><h3 class="text-md-left text-center card-title">Giddha</h3></div>
      <p class="card-text text-justify mx-4 m-md-5">
        The dance is often considered derived from the ancient dance known as the ring dance and is just as energetic as 
        bhangra; at the same time it manages to creatively display feminine grace, elegance and flexibility. 
      </p>
      <div class="card-body">
        <p class="card-text text-justify ml-5" (click)="showOptions(options1)">We offer different levels. <span class="choose cursor text-info">Choose yours....</span></p>
        <div class="row container options mx-auto noAnimation" #options1>
          <div class="card col-11 px-0 col-md-3 my-5 mx-auto rounded" >
            <h5 class="card-title card-header border-0 text-md-left text-center text-dark rounded" style="background-color:#c9dbdc;">Children</h5>
            <p class="card-text text-justify d-block m-auto">let your child to have ...</p>
            <button class="btn btn-outline-success" (click)="service.registerProgram()">register</button>
          </div>
          <div class="border-md-right d-md-block d-none"></div>
          <div class="card col-11 px-  0 col-md-3 my-5 mx-auto rounded" >
            <h5 class="card-title card-header border-0 text-md-left text-center text-dark rounded" style="background-color:#c9dbdc;">Adults</h5>
            <p class="card-text text-justify d-block m-auto">for adults </p>
            <button class="btn btn-outline-success" (click)="service.registerProgram()">register</button>
          </div>
          <div class="card col-11 px-0 col-md-3 my-5 mx-auto rounded" >
            <h5 class="card-title card-header border-0 text-md-left text-center text-dark rounded" style="background-color:#c9dbdc;">seniors</h5>
            <p class="card-text text-justify d-block m-auto">for seniors</p>
            <button class="btn btn-outline-success" (click)="service.registerProgram()">register</button>
          </div>
          <span class="text-info m-3">*groups can be changed on request</span>
        </div>
      </div>
    </div>

    <div class="card m-0 border-0 m-md-5">
      <div class="border-0 mx-auto mt-5 mt-md-0"><h3 class="text-md-left text-center card-title">Folk Music</h3></div>
      <p class="card-text text-justify mx-4 m-md-5">
        Punjabi folk music is the traditional music on the traditional musical instruments of the Punjab region of the 
        Indian subcontinent. There is a great repertoire of music from the time of birth through the different stages of joy 
        and sorrow till death. The folk music invokes the traditions as well as the hardworking nature, bravery and many 
        more things that the people of Punjab get from its gateway-to-India geographical location
      </p>
      <div class="card-body">
        <p class="card-text text-justify ml-5" (click)="showOptions(options2)">We offer different levels. <span class="choose cursor text-info">Choose yours....</span></p>
        <div class="row container options mx-auto noAnimation" #options2>
          <div class="card col-11 px-0 col-md-3 my-5 mx-auto rounded" >
            <h5 class="card-title card-header border-0 text-md-left text-center text-dark rounded" style="background-color:#c9dbdc;">Children</h5>
            <p class="card-text text-justify d-block m-auto">let your child to have ...</p>
            <button class="btn btn-outline-success" (click)="service.registerProgram()">register</button>
          </div>
          <div class="card col-11 px-0 col-md-3 my-5 mx-auto rounded" >
            <h5 class="card-title card-header border-0 text-md-left text-center text-dark rounded" style="background-color:#c9dbdc;">Adults</h5>
            <p class="card-text text-justify d-block m-auto">for adults </p>
            <button class="btn btn-outline-success" (click)="service.registerProgram()">register</button>
          </div>
          <div class="card col-11 px-0 col-md-3 my-5 mx-auto rounded" >
            <h5 class="card-title card-header border-0 text-md-left text-center text-dark rounded" style="background-color:#c9dbdc;">seniors</h5>
            <p class="card-text text-justify d-block m-auto">for seniors</p>
            <button class="btn btn-outline-success" (click)="service.registerProgram()">register</button>
          </div>
          <span class="text-info m-3">*groups can be changed on request</span>
        </div>
      </div>
    </div>

    <div class="card m-0 border-0 m-md-5">
      <div class="border-0 mx-auto mt-5 mt-md-0"><h3 class="text-md-left text-center card-title">Choreography</h3></div>
      <p class="card-text text-justify mx-4 m-md-5">
        Choreography is the art or practice of designing sequences of movements of physical bodies (or their depictions) in 
        which motion, form, or both are specified. Choreography may also refer to the design itself.
      </p>
      <div class="card-body">
        <p class="card-text text-justify ml-5" (click)="showOptions(options3)">We offer different levels. <span class="choose cursor text-info">Choose yours....</span></p>
        <div class="row container options mx-auto noAnimation" #options3>
          <div class="card col-11 px-0 col-md-3 my-5 mx-auto rounded" >
            <h5 class="card-title card-header border-0 text-md-left text-center text-dark rounded" style="background-color:#c9dbdc;">Children</h5>
            <p class="card-text text-justify d-block m-auto">let your child to have ...</p>
            <button class="btn btn-outline-success" (click)="service.registerProgram()">register</button>
          </div>
          <div class="card col-11 px-0 col-md-3 my-5 mx-auto rounded" >
            <h5 class="card-title card-header border-0 text-md-left text-center text-dark rounded" style="background-color:#c9dbdc;">Adults</h5>
            <p class="card-text text-justify d-block m-auto">for adults </p>
            <button class="btn btn-outline-success" (click)="service.registerProgram()">register</button>
          </div>
          <div class="card col-11 px-0 col-md-3 my-5 mx-auto rounded" >
            <h5 class="card-title card-header border-0 text-md-left text-center text-dark rounded" style="background-color:#c9dbdc;">seniors</h5>
            <p class="card-text text-justify d-block m-auto">for seniors</p>
            <button class="btn btn-outline-success" (click)="service.registerProgram()">register</button>
          </div>
          <span class="text-info m-3">*groups can be changed on request</span>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="spinner">
  <mat-spinner></mat-spinner>
</div>