<div class="bgImage">
  <app-header [pageName] = "pageName" ></app-header>
</div>
<div class="container profile load mt-5">
  <div class="row loadDelayed" *ngIf="!edit">
    <div class="col-12 col-md-6">
      <img src="{{service.profile.img}}" (click)="showImage()" alt="profile picture" class="rounded w-75 d-block mx-auto mx-md-0 cursor" style="max-height: 50vh !important">
    </div>
    <div class="col-12 col-md-6 m-md-0 mt-5 personalInfo">
      <h4 class="text-dark">Personal Information</h4>
      <ul class="list-group list-group-flush list-hover">
        <li class="list-group-item list-group-item-action "><span class="text-secondary">Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="text-primary"> {{service.profile.lName}}, {{service.profile.fName}} </span></li>
        <li class="list-group-item list-group-item-action"><span class="text-secondary">Age &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="text-primary">{{service.profile.age}}</span></li>
        <li class="list-group-item list-group-item-action"><span class="text-secondary">Phone No. &nbsp;&nbsp;&nbsp;&nbsp;</span><span class="text-primary">{{service.profile.phone}}</span></li>
        <li class="list-group-item list-group-item-action"><span class="text-secondary">Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="text-primary">{{service.profile.email}}</span></li>
        <li class="list-group-item list-group-item-action"><span class="text-secondary">Address</span><span class="text-primary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{service.profile.address.suite}} {{service.profile.address.street}} street, {{service.profile.address.city}}, {{service.profile.address.province}}, {{service.profile.address.postal}}</span></li>
      </ul>
    </div>
    <div class="col-12 col-md-6 ratings mt-5">
      <h4 class="text-dark">Notification</h4>
      <ul class="list-group list-group-flush col-10" *ngIf="service.profile.notifications.length > 0">
        <li class="list-group-item cursor list-group-item-action text-truncate shadowAnimation" (click)="service.switchComponentByUrl('/notifications')" *ngFor="let notification of service.profile.notifications">
          <span class="badge badge-success  mr-2">{{notification.status == 'unread' ? 'New' : ''}}</span> {{notification.reason}}, {{notification.details}}
        </li>
      </ul>
      <p *ngIf="service.profile.notifications.length <= 0">there is no notification to show...</p>
      <button class="btn mt-2 btn-outline-success" (click)="getMessageFromUser()">send message</button>
    </div>
    <div class="col-12 col-md-6 mt-5">
      <h4 class="text-dark">Feedbacks</h4>
      <p class="text-dark" *ngFor="let feedback of feedbacks">
        {{feedback.fb}} <span class="text-secondary"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; --&nbsp;&nbsp;{{feedback.giver}} @ {{feedback.date.year}}/{{feedback.date.month}}/{{feedback.date.day}}</span>   
      </p>
    </div>
    <div class="col-12 classes mt-5">
      <h4 class="text-dark">Enrolled Classes</h4>
      <div class="row container m-3">
        <div class="col-sm-4 col-md-3  mb-5" *ngIf="!service.profile.enrolledClasses">
          <p>you are not enrolled in nay class</p>
        </div>
        <div class="col-sm-4 col-md-3  mb-5" *ngFor="let class of service.profile.enrolledClasses">
          <div class="card card-animation border " (click)="service.setSelectedClass(class)">
            <div class="card-body bg-dark">
              <h5 class="text-light card-title">{{class.name}}</h5>
              <div class=" text-warning card-subtitle">
                {{class.instructor}} <br> <span class="text-white">{{class.studentList.length}} <span class="text-info"> / </span>{{class.maxStudent}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="service.isAdmin()" class="btn-group col-12 mb-5">
      <button type="button" (click)="toggleEdit()" class="btn btn-outline-warning col-4 btn-default ml-auto mr-auto">Edit</button>
      <button type="button" (click)="deleteStudent()" class="btn btn-outline-danger col-4 btn-default ml-auto mr-auto">Delete</button>
    </div>
  </div>
  
  <div class="container load mt-5" *ngIf="edit">
    <form [formGroup] = "fg" (ngSubmit) = "onSubmit(fg.value)">    
      <div class="row loadDelayed">
        <div class="col-6" >
          <img src="{{service.profile.img}}" alt="service.profile picture" class="rounded w-75 d-block mx-auto mx-md-0 cursor"><br><br>
          <input type="file" id="image" accept="image/*" placeholder="Select File" class="btn btn-outline-dark w-50 form-control-file">
        </div>
        <div class="col-6 personalInfo">
          <h4 class="text-dark">Personal Information</h4>
          <div class="form-group list-hover row">
            <input type="input" name="fName" placeholder="First Name" required formControlName="fName" class="form-control m-2 col-5">
            <input type="input" name="lName" placeholder="Last Name" required formControlName="lName" class="form-control m-2 col-5">
            <input type="input" name="age" placeholder="Age" required formControlName="age" class="form-control m-2 col-5">
            <input type="input" name="phone" placeholder="Phone No." required formControlName="phone" class="form-control m-2 col-5">
            <input type="input" name="email" placeholder="Email" required formControlName="email" class="form-control m-2 col-5">
            <input type="input" name="suite" placeholder="House No." required formControlName="suite" class="form-control m-2 col-5">
            <input type="input" name="street" placeholder="Street" required formControlName="street" class="form-control m-2 col-5">
            <input type="input" name="city" placeholder="City" required formControlName="city" class="form-control m-2 col-5">
            <input type="input" name="province" placeholder="Province" required formControlName="province" class="form-control m-2 col-5">
            <input type="input" name="postal" placeholder="Postal Code" required formControlName="postal" class="form-control m-2 col-5">
          </div>
        </div>
        <div class="col-6 ratings mt-5">
          <ul class="m-5 list-group list-group-flush">
            <li class="list-group-item cursor text-truncate shadowAnimation" (click)="showNotification(notification)" *ngFor="let notification of service.profile.notifications">
              <span class="badge badge-success  mr-2">{{notification.status == 'unread' ? 'New' : ''}}</span> {{notification.reason}}, {{notification.details}}
            </li>
          </ul>
          <p *ngIf="service.profile.notifications.length <= 0">there is no notification to show...</p>
        </div>
        <div class="col-6 mt-5">
          <h4 class="text-dark">Feedbacks</h4>
          <p class="text-dark" *ngFor="let feedback of feedbacks">
            {{feedback.fb}} <span class="text-secondary"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; --&nbsp;&nbsp;{{feedback.giver}} @ {{feedback.date.year}}/{{feedback.date.month}}/{{feedback.date.day}}</span>   
          </p>
        </div>
        <div class="col-12 classes mt-5">
          <h4 class="text-dark">Enrolled Classes</h4>
          <div class="row container m-3">
            <div class="col-sm-4 col-md-3  mb-5" *ngFor="let class of this.service.profile.enrolledClasses">
              <div class="card card-animation border " (click)="service.setSelectedClass(class)">
                <div class="card-body bg-dark">
                  <h5 class="text-light card-title">{{class.name}}</h5>
                  <div class=" text-warning card-subtitle">
                    {{class.instructor}} <br> <span class="text-white">{{class.studentList.length}} <span class="text-info"> / </span>{{class.maxStudent}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="service.isAdmin()" class="btn-group col-12 mb-5">
          <button type="submit" [disabled]="!fg.valid" class="btn ml-auto mr-auto btn-default btn-success col-4">Done</button>
          <button type="button" (click)="toggleEdit()" class="btn btn-default btn-danger col-4 ml-auto mr-auto">Cancel</button>
        </div>
      </div>
    </form>
  </div>
  <div id="imgModel" class="modal">
    <span class="close text-danger">&times;</span>
    <img class="modal-content" src={{service.profile.img}} id="modelImg">
    <div id="caption"></div>
</div>
</div>
<app-footer></app-footer>
