.shadow{
box-shadow: 10px 10px 10px 10px grey !important;
}

.card-animation:hover {
  transition: 0.3s;
  border-color: #F1EA7F !important;
  cursor: pointer;
  box-shadow: 10px 10px 10px 10px grey !important;
}

.filled {
  color: #1e90ff;
}

.bgImage{
  background: url('../../assets/images/profile.jpg');
  background-position: center;
  background-repeat: no-repeat;



  background-size:100% 100%;
  overflow-x: hidden;
}