.card-img-top {
    height: 18vw;
    min-height: 200px;   
    width: auto;
}

a{
    text-decoration: none !important;  
}

.shadow:hover{
    box-shadow: 10px 10px 10px 10px grey !important;
}

.card-animation:hover {
    transition: 0.3s;
    background-color: #F1EA7F !important;
    cursor: pointer;
}

.bgImage{
    background: #343a40;
    background-position: center;
    background-repeat: no-repeat;



    background-size:100% 100%;
    overflow-x: hidden;
}