<div class="bgImage">
    <app-header [pageName] = "pageName" ></app-header>
</div>
<div class="jumbotron load profile">
    <div class="display-2 loadDelayed mb-3">
        Student List
    </div>
    <div class="studentOptions loadDelayed"> 
        <button class="btn btn-success text-light" *ngIf="service.isAdmin()" (click)="createStudent()" type="button">new student
            <span class="badge badge-light">&#43;</span>
        </button>
    <div class="row p-5 mb-5 loadDelayed">
        <div class="col-sm-5 col-8 col-lg-3 col-md-4  mb-5" *ngFor="let student of service.studentList">
            <div class="card shadow card-animation" (click)="showProfile(student)">
                <img class="card-img-top img-fluid rounded" src={{student.img}} alt="stundent image">
                <h5 class="card-title bg-dark text-light">{{student.fName}} {{student.lName}} </h5>
            </div>
        </div>
    </div>
</div>
</div>
