@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.spinner{
    z-index: 2;
    position: absolute;
    top: 45vh;
    left: 45vw;
}

div{
  border-radius: 5px 5px 5px 5px;
}

html {
  scroll-behavior: smooth;
}
.arrawContainer {
    display: flex;
    position: absolute;
    top: 87vh;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.enlarge-animation{
  transform: scale(0);  
  animation-name: enlarge;
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.delarge-animation{
  animation-name: delarge;
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.bg-image,.bhangra,.bgImage{
  background-attachment: fixed !important;
}

@keyframes enlarge{
  form {transform: scale(0);opacity: 0;}
  to { transform: scale(1); opacity: 1;}
}

@keyframes delarge{
  form {transform: scale(1);opacity: 1;}
  to { transform: scale(0); opacity: 0;}
}
.arrow{
    position: absolute;
    width: 2.1rem;
    height: 0.48rem;
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    -webkit-animation: move-arrow 3s ease-out infinite;
            animation: move-arrow 3s ease-out infinite;
}
  
.arrow:first-child {
    -webkit-animation: move-arrow 3s ease-out 1s infinite;
            animation: move-arrow 3s ease-out 1s infinite;
}
  
.arrow:nth-child(2) {
    -webkit-animation: move-arrow 3s ease-out 2s infinite;
            animation: move-arrow 3s ease-out 2s infinite;
}
  
.arrow:before,.arrow:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: white;
}
  
.arrow:before {
    left: 0;
    -webkit-transform: skewY(30deg);
            transform: skewY(30deg);
}
  
.arrow:after {
    right: 0;
    width: 50%;
    -webkit-transform: skewY(-30deg);
            transform: skewY(-30deg);
}
  
@-webkit-keyframes move-arrow {
    25% {
      opacity: 1;
    }
    33.3% {
      opacity: 1;
      -webkit-transform: translateY(2.28rem);
              transform: translateY(2.28rem);
    }
    66.6% {
      opacity: 1;
      -webkit-transform: translateY(3.12rem);
              transform: translateY(3.12rem);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(4.8rem) scale(0.5);
              transform: translateY(4.8rem) scale(0.5);
    }
}

.carousel-caption {
  bottom: -15px;
  top: auto;
}

@keyframes move-arrow {
    25% {
      opacity: 1;
    }
    33.3% {
      opacity: 1;
      -webkit-transform: translateY(2.28rem);
              transform: translateY(2.28rem);
    }
    66.6% {
      opacity: 1;
      -webkit-transform: translateY(3.12rem);
              transform: translateY(3.12rem);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(4.8rem) scale(0.5);
              transform: translateY(4.8rem) scale(0.5);
    }
}
  
.bhangra{
  background:linear-gradient(rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 20%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0.6) 100%), url('assets/images/danielle-cerullo-642332-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  overflow-x: hidden;
  height: 60vh;
}
  
.load{
      opacity: 0;
      -webkit-animation: fadein 1s  ease-in-out; 
         -moz-animation: fadein 1s  ease-in-out; 
          -ms-animation: fadein 1s  ease-in-out; 
           -o-animation: fadein 1s  ease-in-out; 
              animation: fadein 1s  ease-in-out;
              animation-fill-mode: forwards;
}
  
.loadDelayed{
      opacity: 0;
      -webkit-animation: fadein 2s ease-in-out; 
         -moz-animation: fadein 2s ease-in-out; 
          -ms-animation: fadein 2s ease-in-out; 
           -o-animation: fadein 2s ease-in-out; 
              animation: fadein 2s ease-in-out;
              animation-fill-mode: forwards;
}
  
@keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
}
  
@-moz-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
}
  
@-webkit-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
}
  
@-ms-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
}
  
@-o-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
}
  
.cursor{
    cursor: pointer;
}
  
.ng-dirty.ng-invalid {
    border-color: red;
}
  
.bigFont{
    font-size: 5vw !important;
}
  
.text-Silver{
    color: #A8A8A8 !important;
}
  
.hidden{
    opacity: 0;
}
  
.details div:not(.noAnimation){
    margin-top : 35px;
}

.noAnimation *{
    opacity: 1 !important;
}

.ulAnimation:hover img{
    transform: scale(1.3);
    transition: all 0.3s ease-in-out;
}

.ulAnimation::after{
    content:'';
    display:block;
    width:0px;
    height:2px;
    background: #737373;
    transition: 0.2s;
}

.ulAnimation:hover::after{
    width:100%;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 30px;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;  
    overflow: auto; 
    background-color: rgb(0,0,0);     
    background-color: rgba(0,0,0,0.9);
  }
  
  .modal-content {
    margin: auto;
    display: block;
    max-height: 90vh;
    max-width: 700px;
  }
  
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  .close {
    position: absolute;
    top: 30px;
    z-index: 1; 
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
.prev,.next{
    position: absolute;
    z-index: 1; 
    font-size: 40px;
    top : 30vh;
}

.prev:hover,.next:hover{
    color: burlywood !important;
}

  .prev{
    left: 35px;
  }

  .next{
    right: 35px
  }

  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  
  p,a,.sans-serif{
    font-family: Montserrat,sans-serif;
    font-weight: 100;
    font-size: 1.3rem;
  }

  h1,h2,h3,h4,h5,h6{
    font-family: Montserrat,sans-serif;
    font-weight: 300;
  }
 
.shadowAnimation:hover{
    box-shadow: 3px 3px 3px 3px grey !important;
    background-color: #b3ebf9;
    transition: 0.5s;
}

@media screen and (min-width: 500px){
    .bgImage{
      background-size: cover !important;
    }
  }