<div class="load bg-image m-1">
  <app-header [pageName]="pageName" [logo]="logo"></app-header>
  <div>
    <div class="textAnimation d-inline-block mt-5">
    </div>
    <div class="intro content-center">
      <img class="d-block enlarge-animation mb-5 mt-3" src="../../assets/images/logoSecondary.png" alt="logo" width="150px">
      <a role="button" class="btn load p-2 ml-3 btn-outline-light" href="#programs">Explore RPD</a>
    </div>
</div>
</div>

<!-- <div class="donut-container m-1">
  <div class="container profile m-5 d-flex">
    <div>
      <circle-progress
        [percent]="85"
        [radius]="70"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="0"
        [outerStrokeColor]="'#6c757d'"
        [animation]="true"
        [animationDuration]="500">
      </circle-progress>
    </div>
    <div class="mx-auto">
      <circle-progress
        [percent]="85"
        [radius]="70"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="0"
        [outerStrokeColor]="'#6c757d'"
        [animation]="true"
        [animationDuration]="500">
      </circle-progress>
    </div>
    <div>
      <circle-progress
        [percent]="85"
        [radius]="70"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="0"
        [outerStrokeColor]="'#6c757d'"
        [animation]="true"
        [animationDuration]="500">
      </circle-progress>
    </div>
  </div>
</div> -->
<div class="m-1">
  <div class="bhangra why m-0 border-0 mb-md-5 mt-md-2">
    <h1 class="text-light d-none d-md-block text-center m-md-5 mt-5">Why learn dance ?</h1>
    <h3 class="text-light d-block d-md-none text-center m-md-5 mt-5">Why learn dance ?</h3>
    <p class="importance text-justify mx-4 m-md-5 text-light"> {{importance[importanceIndex]}} </p>
  </div>
  
  <div class="services">
    <h1 class="d-none d-sm-block text-center d-md-none mb-3">Courses We Offer</h1>
    <div class="display-3 d-none d-md-block text-center mb-3">Classes We Offer</div>
    <h2 class="d-block d-sm-none mb-3 text-center">Classes We Offer</h2>
    <div class="services-body">
      <div class="row p-5 mb-5">
        <div class="col-sm-5 col-12 col-lg-3 col-md-4  mb-5">
          <div class="card cursor">
            <img class="card-img-top img-fluid rounded" src="../../assets/images/bhangra.jpg" alt="stundent image">
            <h3 class="carousel-caption mt-5 text-light">Bhangra</h3>
          </div>
        </div>
        <div class="col-sm-5 col-12 col-lg-3 col-md-4  mb-5">
          <div class="card cursor">
            <img class="card-img-top img-fluid rounded" src="../../assets/images/gidha.jpg" alt="stundent image">
            <h3 class="carousel-caption mt-5 text-light">Gidha</h3>
          </div>
        </div>
        <div class="col-sm-5 col-12 col-lg-3 col-md-4  mb-5">
          <div class="card cursor">
            <img class="card-img-top img-fluid rounded" src="../../assets/images/dhol.jpg" alt="stundent image">
            <h3 class="carousel-caption mt-5 text-light">Dhol</h3>
          </div>
        </div>
        <div class="col-sm-5 col-12 col-lg-3 col-md-4  mb-5">
          <div class="card cursor">
            <img class="card-img-top img-fluid rounded" src="../../assets/images/singing.jpg" alt="stundent image">
            <h3 class="carousel-caption mt-5 text-light">Singing</h3>
          </div>
        </div>
        <div class="col-sm-5 col-12 col-lg-3 col-md-4  mb-5">
          <div class="card cursor">
            <img class="card-img-top img-fluid rounded" src="../../assets/images/tabla.png" alt="stundent image">
            <h3 class="carousel-caption mt-5 text-light">Tabla</h3>
          </div>
        </div>
        <div class="col-sm-5 col-12 col-lg-3 col-md-4  mb-5">
          <div class="card cursor">
            <img class="card-img-top img-fluid rounded" src="../../assets/images/harmonium.jpg" alt="stundent image">
            <h3 class="carousel-caption mt-5 text-light">Harmonium</h3>
          </div>
        </div>
        <div class="col-sm-5 col-12 col-lg-3 col-md-4  mb-5">
          <div class="card cursor">
            <img class="card-img-top img-fluid rounded" src="../../assets/images/weightloss.jpg" alt="stundent image">
            <h3 class="carousel-caption mt-5 text-light">Weight loss</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>