a {
  cursor: pointer;
}

.content-center{
    margin-left: 45%;
}
  
.bigFont{
    font-size: 5vw;
}

.bg-image{
    background:linear-gradient(rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 20%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0.6) 100%), url('../../assets/images/rainier-ridao-1064649-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    overflow-x: hidden;
    height: 98vh;
}

.donut-container{
    background:linear-gradient(rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 20%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0.6) 100%), url('../../assets/images/markus-spiske-484245-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    overflow-x: hidden;
    height: 48vh;
}

.card-img-top {
    height: 18vw;
    min-height: 200px;   
    width: auto;
}

.card:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.card{
    transition: all 0.3s ease-in-out;
}

.avgFont{
    font-size: 3vw;
}

.textAnimation{
    max-width: 95% !important;
}

.textAnimation span{
    display: inline-block;
    position: absolute;
    opacity: 0;
    left: 100vw;
    top: 40vh;
}

.animation a{
    display: none; 
    position: absolute;
    left: 45vw;
    top: 45vh;
}

.text-Silver{
    color: #A8A8A8 !important;
}

.dropdown-menu{
    background-color: black!important;
}

.animation span{
    display: inline-block;
    position: absolute;
    top: -100vh;
    opacity: 0;
}


#logoTemp{
    top: -500px;
    left: 75%;
}

@media screen and (max-width:750px){
    .avgFont{
        margin-left: 8% !important;
    }
} 

@media screen and (max-width:500px){
    .content-center{
        margin-left: 30%;
    }
}