.ulAnimation::after{
    content:'';
    display:block;
    width:0px;
    height:2px;
    background:#b3ebf9;
    transition: 0.2s;
}

.cursor{
    cursor: pointer;
}

.ulAnimation:hover::after{
    width:100%;
}

.cursor{
    cursor: pointer;
}

.bgImage{
  background: url('../../assets/images/notifiactions.jpg');
  background-position: center;
  background-repeat: no-repeat;



  background-size:100% 100%;
  overflow-x: hidden;
}