<div class="bgImage">
  <app-header pageName="pageName"></app-header>
</div>
  <div class="row profile">
    <div class="col-7">
      <ul class="m-5 list-group list-group-flush">
        <li class="list-group-item cursor text-truncate border-bottom shadowAnimation" (click)="showNotification(notification)" *ngFor="let notification of service.profile.notifications">
          <span class="badge badge-success  mr-2">{{notification.status == 'unread' ? 'New' : ''}}</span> {{notification.reason}}, {{notification.details}}
        </li>
      </ul>
      <p *ngIf="service.profile.notifications.length <= 0">there is no notification to show...</p>
    </div>
    <div class="col-4 mt-5 border-left load" *ngIf="notificationToShow">
      <h4 class="m-3">{{notificationToShow.reason}}</h4>
      <p class="mx-auto">{{notificationToShow.details}}</p>
      <div class="text-dark text-center cursor blockquote mx-auto" [ngbPopover]="popContent" [autoClose]="'outside'" popoverClass="pop-over" placement="bottom">{{notificationToShow.lName}}, {{notificationToShow.fName}}</div>
      <ng-template #popContent>
        <ul class="list-group load">
          <li class="list-group-item text-truncate border-0 "> 
            <div class="ulAnimation cursor">
              <img src="../../assets/images/phone.png"  width="25px" alt=""><a href="tel:+ {{notificationToShow.phone}}" class="ml-3 text-info">{{notificationToShow.phone}}</a>
            </div>
          <li class="list-group-item text-truncate border-0">
            <div class="ulAnimation cursor">
              <img src="../../assets/images/email.png"  width="25px" alt=""><a href="mailto:{{notificationToShow.email}}" class="ml-3 text-info">{{notificationToShow.email}}</a>
            </div> 
          </li>
          <li class="list-group-item text-truncate border-0">
            <div class="ulAnimation cursor">
              <img src="../../assets/images/location.png"  width="25px" alt=""><span class="ml-3 d-inline-block text-center text-info">{{notificationToShow.address.suite}} {{notificationToShow.address.street}} <br> {{notificationToShow.address.city}}, {{notificationToShow.address.province}} <br> {{notificationToShow.address.postal}}</span>
            </div>
            </li>
        </ul>
      </ng-template>
      <button type="button" (click)="deleteNotifiacation()" class="d-block mx-auto mt-5 btn a-center btn-danger">Delete</button>
    </div>
  </div>
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>